# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.*.local
*.local

# prisma
packages/database/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# coverage
coverage/

# docker volumes (local)
.docker-data/
